<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://helloworld20231212134615.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/202613dd-252b-4233-8521-951dc95e58ed/resourcegroups/rg-zita/providers/Microsoft.Web/sites/HelloWorld20231212134615</ResourceId>
    <UserName>$HelloWorld20231212134615</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://helloworld20231212134615.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>